@import url('../../../node_modules/normalize.css/normalize.css');
@import url('../../../node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css');
@import url('../../../node_modules/@blueprintjs/core/lib/css/blueprint.css');

@font-face {
  font-family: almanar;
  src: url('../fonts/Almanar.ttf');
}
@font-face {
  font-family: Khodijah;
  src: url('../fonts/Khodijah.ttf');
}
@font-face {
  font-family: moroccoregular;
  src: url('../fonts/moroccoregular.ttf');
}

html, .content {
  
    background: var(--color-surface);
    color: var(--color-solid);

    position: fixed;
    height: 100%;
    width: 100%;

    font-family: 'Khodijah';
    font-stretch: ultra-expanded;
    font-size: 1em;
  }
  
  h1{
    font-family: 'almanar';
  }
  .spacer
  {
    margin : 10px;
    padding: 20px;
  }

  .darkColor {
    color: var(--color-solid);
  }
  
  .center
  {
    text-align: center;
    width: 50%;
    margin: auto;
  }

  .draggable {
    -webkit-app-region: drag;
    -webkit-user-select: none;
  }

  .noDrag
  {
    -webkit-app-region: no-drag;
  }

  .noLinkStyle
  {
    text-decoration: none;
    color : var(--color-solid);
  }

  .noLinkStyle:hover
  {
    text-decoration: underline;
    
    color : var(--color-surface);
  }


/* .rcw-conversation-container > .rcw-header {
    background-color: var(--color-surface) !important;
} */
   
.rcw-message > .rcw-response {
    background-color: var(--color-surface) !important;
    border-radius: 2px 2px;
    color: var(--color-solid) !important;
}
.rcw-message-text {
  background-color: var(--color-surface-pale-f2) !important;
  border-radius: 2px 2px;
  color: var(--color-solid) !important;
}


.rcw-full-screen .rcw-close-button {
  background-color: var(--color-surface) !important;
}


.rcw-messages-container {
  background-color: var(--color-surface) !important;
  box-shadow: inset -8px 0px 2px 0px var(--color-solid) !important; 
  color: var(--color-solid) !important;
}

.rcw-header {
  background-color: var(--color-surface) !important;
  /* box-shadow : 0px -13px 20px 11px  var(--color-solid); */
  color: var(--color-solid) !important;
}

.quick-buttons-container {
  background-color: var(--color-surface) !important;
  color: var(--color-solid) !important;
}

.quick-button {
  border: none !important;
  color: var(--color-solid) !important;
}

.flexboxupdown
{
  display: flex;
  flex-direction: column;

  background-color: rgba(186, 186, 197, 0.712);
  margin: 10px;
  padding: 10px;
}

.flexitem{
  flex: 1;

}

.coverHome{
  background-image: url('../images/sm_corrected.jpg');
  background-size: auto;
  background-repeat: repeat;

  color: black;
}

#aside
{
  position: relative;
  top: 0px;
  left: 0px;

  flex: 1;
  height: 100vh;

  padding: 20px;

  background-color: var(--color-surface-faint);
  color: var(--color-solid);

  font-size: 1.4em;
}
