.initialCover{
    background-image: url('../images/tl_corrected.jpg');
    background-size: auto;
    background-repeat: repeat;

    min-height: 100vh;

    color: rgb(26, 11, 32) !important;
    padding: 20px;
}

.transparent
{
  background: transparent;
  color: rgb(50, 165, 194);
  text-decoration: none;
  font-weight: 800;

  font-size: larger;
}

.transparent:hover{
  color: wheat;
  text-decoration: underline;
}

p, a{
  font-size: 1.7em;
  text-decoration: none;
}

a:hover{
  border-bottom: 1px solid;
}