.personnelCover{
    background-image: url('../images/tl_corrected.jpg');
    background-size: auto;
    background-repeat: repeat;

    display: flex;
    flex-direction: row;

    color: rgb(26, 11, 32) !important;
}


.personCover{
    background-image: url('../images/april_corrected.jpg');
    background-size: auto;
    background-repeat: repeat;

    display: flex;
    flex-direction: row;
}

.outilsCover{
  background-image: url('../images/pav_corrected.jpg');
  background-size: auto;
  background-repeat: repeat;

  display: flex;
  flex-direction: row;

  color: rgb(26, 11, 32) !important;
}


.childPers
{
  flex: 1;
  flex-direction: column;
  padding: 10px;
}

.maindPers
{
  flex: 2;
  flex-direction: column;
  padding: 10px;
}

.transparent
{
  background: transparent;
  color: rgb(50, 165, 194);
  text-decoration: none;
  font-weight: 800;

  font-size: larger;
}

.transparent:hover{
  color: wheat;
  text-decoration: underline;
}


.profileCover{
  background-image: url('../images/star_corrected.jpg');
  background-size: auto;
  background-repeat: repeat;

  display: flex;
  flex-direction: row;

  color: rgb(26, 11, 34) !important;

  flex: 3;
  font-size: 1.2em;
}


.asideTitle
{
  display: block;
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 40px;
  padding-bottom: 30px;
  
  
  opacity: 1 !important;
}

.asideActions
{
  display: flex;
  margin-top: 10px;
  padding: 2px;  
  
  flex-direction: column;
  opacity: 1 !important;
}

.asideBtn
{
  flex-direction: column;
  flex: 1;
  opacity: 1 !important;

  
  font-size: 1.5em;
  margin-bottom: 30px;
}

.bp3-tree-node-content
{
  margin: 20px;
}