

.serviceCover{
  background-image: url('../images/41844f569fe2025d2d97879f711b19da.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  padding: 0px;
  margin: 0px;
}



.transparent
{
  background: transparent;
  color: rgb(50, 165, 194);
  text-decoration: none;
  font-weight: 800;
  font-size: larger;
}

.transparent:hover{
  color: wheat;
  text-decoration: underline;
}